{% load static %}
<html>
	<head>
	  <meta charset="utf-8">
	  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <title>Lore | Choose Your Own Adventure! </title>

	  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	  <link rel="shortcut icon" type="image/png" href="{% static 'images/lore_dark_favicon.ico' %}"/>
	  <link rel="stylesheet" href="{% static 'styles/base.css' %}">
	</head>

	<script> 
		function toggleHamburger(x) {
  			x.classList.toggle("change");
		}
	</script>

	<body style="margin:0">
		<div class="header">
		    <table style='width:100%'>
		        <tr>
		            <td>
		                <a href="{% url 'index' %}">
		                	<img src="{% static 'images/lore-logo-mark-white.png' %}" 
		                             style="vertical-align: middle; width: 115px; max-width: 20vw"/>
		                     <img src="{% static 'images/lore-text-white.png' %}" 
		                             style="vertical-align: middle; width: 170px; max-width: 30vw"/>
		                        
		                </a>
		            </td>
		            <td style="text-align:right">
		            	<div style="text-align:right; font-size:small">
		                	<div class="hamburger" onclick="toggleHamburger(this)">
								<div class="bar1"></div>
								<div class="bar2"></div>
								<div class="bar3"></div>
							</div>
		            	</div>
		            </td>
		        </tr>
		    </table>
		</div>
		<div style="margin:2vw">
			{% block content %}
			{% endblock %}
		</div>
</html>