{% load static %}
<html>
	<head>
	  <meta charset="utf-8">
	  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	  <title>Lore | Choose Your Own Adventure! </title>

	  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	  <link rel="shortcut icon" type="image/png" href="{% static 'images/lore_dark_favicon.ico' %}"/>
	</head>
	<body>
		{% block content %}
    	{% endblock %}
	</body>
</html>