{% extends './base.html' %} {% block content %} {% load static %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Choose Your Own Adventure!</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but
            not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>

<div class='scrolling-wrapper'>
    {% for story in stories %}
    <div class="card">
        <img class="card-img-top" src="{% static 'images/landing_page_bkg.jpg' %}" style="max-width:calc(100vw - 100px); max-height:40vh;" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <div id="story_{{story.pk}}">
                    <div class="story_title">
                        <h2>
                            <a href="../story/{{ story.pk }}">{{ story.title }}</a>
                        </h2>
                    </div>
                    <div class="story_author">
                        {{ story.author }}
                    </div>
                </div>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}