{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Concentric circles"/>
    <title>Concentric circles</title>
    <link type="text/css" href="{% static 'styles/storymap.css' %}" rel="stylesheet"/>
    <script src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <svg width="1000" height="800">
    </svg>
  </body>
  <script>
    function test(text){
     alert(text)
    }

    function get_coordinates_from_angle(originx, originy, angle, radius) {
      newx = radius * Math.cos(angle * Math.PI/180) + originx
      newy = radius * Math.sin(angle * Math.PI/180) + originy 

      return [newx, newy];
    }

    var bbox, radii, svg, target;

    svg = d3.select('svg');
    bbox = svg[0][0].getBoundingClientRect();

    radii = [30, 100, 170, 240, 310, 380]

    node_radius = 30 

    initial_center_x = bbox.width/2
    initial_center_y = bbox.height/2


    target = svg.append('g')
        .attr('transform', "translate(" + initial_center_x + "," + initial_center_y + ")");

    target.selectAll('circle')
        .data(radii)
      .enter().append('circle')
        .attr('class', 'circle')
        .attr('r', function(d) {return d;});

    target2 = svg.append('g').attr('fill', 'red');
    angles2 = [90, 270]
    for (var i = 0; i < angles2.length; i++) {
        nodeCoords = get_coordinates_from_angle(initial_center_x, initial_center_y, angles2[i], radii[1])
        target2.append('circle')
        .attr('class', 'storycircle')
        .attr('r', node_radius)
        .attr('transform', "translate(" + nodeCoords[0] + "," + nodeCoords[1] + ")");
    }

    /* 
    // Arc connecting children. 
    target2.append('path')
        .attr('d', 'M' + first_circle_1_x + ' ' + first_circle_1_y + '\nA ' + radii[1] + ' ' + radii[1] + ' 90 0 1 ' + first_circle_2_x + ' ' + first_circle_2_y)
        .attr('stroke', 'black')
        .attr('fill', 'none')

    // line to middle of arc. 
    target2.append('line')
        .attr('x1', initial_center_x)
        .attr('x2', 400)
        .attr('y1', initial_center_y)
        .attr('y2', initial_center_y)
        .attr('stroke', 'lightgray')
    */ 

    target3 = svg.append('g').attr('fill', 'green')

    angles3 = [50, 130, 230, 310]
    for (var i = 0; i < angles3.length; i++) {
        nodeCoords = get_coordinates_from_angle(initial_center_x, initial_center_y, angles3[i], radii[2])
        target3.append('circle')
        .attr('class', 'storycircle')
        .attr('r', node_radius)
        .attr('transform', "translate(" + nodeCoords[0] + "," + nodeCoords[1] + ")");

    }


    target4 = svg.append('g').attr('fill', 'blue')

    angles4 = [30, 70, 110, 150, 210, 250, 290, 330]
    for (var i = 0; i < angles4.length; i++) {
        nodeCoords = get_coordinates_from_angle(initial_center_x, initial_center_y, angles4[i], radii[3])
        target4.append('circle')
        .attr('class', 'storycircle')
        .attr('r', node_radius)
        .attr('transform', "translate(" + nodeCoords[0] + "," + nodeCoords[1] + ")");

    }


  </script>
</html>