{% extends './base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/storymap.css' %}"/>
<script src="https://d3js.org/d3.v3.min.js"></script>

<div id='VoiceRecog' style='text-align:center; text-transform: capitalize; font-family: Montserrat, sans-serif;
	 font-size: 12px; font-weight: bold;'>
	Voice recognition &nbsp; &nbsp;
	<label class="switch" style='vertical-align: middle;'>
	  <input type="checkbox" checked onclick="toggle_voice()" id="voice_checkbox">
	  <span class="slider round"></span>
	</label>
	<!--
	<p style='font-family: Montserrat, sans-serif'> 
		Say "Start" or "Begin" to start. 
		"Yes" or "No" to navigate. 
		"Back" to go back to your previous view
		"Home" to go back to the story view. 
	</p>
-->
</div>


<div id="story_{{story.pk}}">
	<div class="story_title" style='text-align:center; text-transform: capitalize; font-family: Montserrat, sans-serif'>
		<h1><a href="../story/{{ story.pk }}">{{ story.title }}</a></h1>
	</div>
	<div style='text-align:center; text-transform: capitalize; font-family: Montserrat, sans-serif'>
		<h3>{{ story.author }}</h3>
	</div>	
	
	<div class='modal' id='svgmodal'> 
		<!--<div class="modal-header">
    		<h2>Modal Header</h2>
  		</div>-->
  		<span class="close">&times;</span>
		<div class="fullSvg" id="fullsvg" style='text-transform: capitalize;'>
      		<svg class='fullSvgNode' width="100%" height="100%" style='background-color: #E8F2F4; border-radius: 16px;'>
      		</svg>
    	</div>
    </div>
    <div class="singleNode" style="display: block; visibility: visible; text-transform: capitalize;">
    	<button onclick="show_storymap()" style='background:none; border: none; cursor:pointer;'> 
      		<img src="{% static 'images/backbutton.png' %}" width="50vw" height="50vh" title="Back to Story Map">
      	</button>
      <svg class='singleSvgNode'width="90vw" height="90vh">
      </svg>
    </div>
</div>

<div id="player">
	 <span id="seek-obj-container" style="padding-bottom:10px">
	 	<progress id="seek-obj" value="0" max="1"></progress>
    </span>
    <small style="float: left; position: relative; left: 20px;" id="start-time">0.00</small>
    <small style="float: right; position: relative; right: 20px;" id="end-time">0.00</small>
    <br/>
	<div style='text-align: center; padding-top: 10px'> 
		<button id='rewind15' disabled="True" onclick="rewind()" 
			style='background:none; border: none; cursor:pointer;'>  
			<img src="{% static 'images/rewind_15.png' %}" width="50vw" height="50vh"> 
		 </button>
		<button id='playstory' onclick="playStory()" disabled="True" 
			style='background:none; border: none; cursor:pointer;'>  
			<img src="{% static 'images/play_story.png' %}" width="50vw" height="50vh"> 
		 </button>
		<button id='playpause' onclick="togglePlay()" disabled="True" 
			style='background:none; border: none; cursor:pointer;'> 
			<img src="{% static 'images/play.png' %}" width="50vw" height="50vh">  
		</button>
		<button id='playquestion' onclick='playQuestion()' disabled="True" 
			style='background:none; border: none; cursor:pointer;'>  
			<img src="{% static 'images/ask_question.png' %}" width="50vw" height="50vh"> 
		 </button>
		<button id='forward15' disabled="True" onclick='ffw()' style='background:none; border: none; cursor:pointer;'> 
			<img src="{% static 'images/forward_15.png' %}" width="50vw" height="50vh"> 
		</button>
	</div>
	<br/>
</div>




<script>
	window.onload = function() {
		document.getElementById('seek-obj').addEventListener('click', function (e) {
			if (cursound && cursound.duration) {
			    var x = e.pageX - this.offsetLeft;
			    
			    var preclick = document.getElementById('seek-obj').position;
			    
			    var xconvert = x/this.offsetWidth; // you need a value in [0,1] range
			    var finalx = (xconvert).toFixed(1); //round up to one digit after comma
			    document.getElementById('seek-obj').value = finalx;
			    if (!cursound.paused){
			    	cursound.pause()
			    }
			    cursound.currentTime = xconvert*cursound.duration
			    cursound.play()
			}
		});

		infiniteLoop()
	}

	function ffw() {
		if (cursound.duration > 15) {
			cursound.pause()
			newtime = cursound.currentTime + 15
			if (newtime > cursound.duration) {
				newtime = cursound.duration - 1
			}
			cursound.currentTime = newtime
			cursound.play()
		}
	}

	function rewind() {
		if (cursound.duration > 15) {
			cursound.pause()
			newtime = cursound.currentTime - 15
			if (newtime < 0) {
				newtime = 0
			}
			cursound.currentTime = newtime
			cursound.play()
		}

	}

	function str_pad_left(string,pad,length) {
    	return (new Array(length+1).join(pad)+string).slice(-length);
	}

	function secToMin(time) {
		var minutes = Math.floor(time / 60);
		var seconds = Math.ceil(time) - (minutes * 60);
		return str_pad_left(minutes,'0',2)+':'+str_pad_left(seconds,'0',2);
	}

	function infiniteLoop() {
		var seek = window['seek-obj']
		startdur = window['start-time']
		enddur = window['end-time']
		if(seek) {
			if(cursound && cursound.duration) {
				seek.value = cursound.currentTime / cursound.duration
				startdur.innerText = secToMin(cursound.currentTime)
				enddur.innerText = secToMin(cursound.duration)
			}
		}

		setTimeout(infiniteLoop, 16)
	}

	function test(text){
     	alert(text)
    }

    function toggle_voice() {
    	if (document.getElementById("voice_checkbox").checked) { 
    		console.log("Voice checkbox checked. Starting recognition")
    		recognition.start()
    	} else { 
    		recognition.stop()
    	}
    }

    function playStory() {
    	if (chaptersound) {
    		recognition.stop()
    		cursound = chaptersound
    		cursound.play()
    		lastPlayed = 'c'
    	}
    }

    function playQuestion() {
    	if (questionsound) {
    		recognition.stop()
    		cursound = questionsound
    		cursound.play()
    	}
    }

    function togglePlayButton(str){
    	var playimage = "{% static 'images/pause.png' %}"
    	var pauseimage = "{% static 'images/play.png' %}"

    	playpausebutton = document.getElementById('playpause')

    	if (str == 'pause') { 
    		curimg = pauseimage 
    	} else if (str == 'play') {
    		curimg = playimage
    	} else {
    		return
    	}
    	playpausebutton.innerHTML = "<img src=" + curimg + " width='50vw' height='50vh'>" 
    }

    function togglePlay() {
    	if (cursound) {
    		if (cursound.paused) { 
    			togglePlayButton('play')
    			cursound.play()
    		} else {
    			togglePlayButton('pause') 
    			cursound.pause()
    		}
    	}

    }

    function get_coordinates_from_angle(originx, originy, angle, radius) {
      newx = radius * Math.cos(angle * Math.PI/180) + originx
      newy = radius * Math.sin(angle * Math.PI/180) + originy 

      return [newx, newy];
    }

    function average_angles(list_of_angles) {
      combined_angles = []
      for (i=0;i<list_of_angles.length; i+=2) {
        new_angle = (list_of_angles[i] + list_of_angles[i+1])/2
        combined_angles.push(new_angle)
      }
      return combined_angles
      
    }

    function draw_arcs_lines(target_obj, angles, circle_num) {
        nodes = []
        for (var i = 0; i < angles.length; i++) {
          nodeCoords = get_coordinates_from_angle(initial_center_x, initial_center_y, angles[i], radii[circle_num-1])
          nodes.push(nodeCoords)
        }
        for (i=0; i< nodes.length; i+=2) {
          kid1 = nodes[i]
          kid2 = nodes[i+1]
          target2.append('path')
          .attr('d', 'M' + kid1[0] + ' ' + kid1[1] + "\nA " + radii[circle_num-1] + ' ' + radii[circle_num-1] + ' 90 0 1' + kid2[0] + ' ' + kid2[1])
          .attr('stroke', 'black')
          .attr('fill', 'none')
        }
        line_angles = average_angles(angles)
        for (angle of line_angles) {
          coords = get_coordinates_from_angle(initial_center_x, initial_center_y, angle, radii[circle_num-1])
          if (circle_num == 2) {
            linestart_coords = [initial_center_x, initial_center_y]
          } else {
          linestart_coords = get_coordinates_from_angle(initial_center_x, initial_center_y, angle, radii[circle_num-2]  + node_radius)
          }
          target_obj.append('line')
            .attr('x1', linestart_coords[0])
            .attr('x2', coords[0])
            .attr('y1', linestart_coords[1])
            .attr('y2', coords[1])
            .attr('stroke', 'black')
        }
        return nodes
    }

    function draw_nodes(target_obj, nodes, cur_level) { 
      for (i=0; i< nodes.length; i++) {
      	cur_depth = cur_level + 1 
        target_obj.append('circle')
              .attr('class', 'storycircle')
              .attr('id', "depth_" + cur_depth + "_node_" + i)
              .attr('r', node_radius)
              .attr('onclick', "showSingleNode(" + cur_depth + "," + i + ")")
              .attr('transform', "translate(" + nodes[i][0] + "," + nodes[i][1] + ")");
      }
    }

    function draw_text(target_obj, nodes, titles, cur_level) {
    	for (i=0; i< nodes.length; i++) {
    		cur_depth = cur_level + 1 
    		target_obj.append('text')
    		.attr('id', "depth_" + cur_depth + "_node_" + i + "_txt")
    		.attr('x', nodes[i][0])
    		.attr('y', nodes[i][1])
    		.text("Chapter " + titles[i][0])
    		.attr("font-family", "sans-serif")
        	.attr("font-size", textsize+"px")
        	.attr("text-anchor", 'middle')
        	.attr("fill", "#E8F2F4");
      }

    }

    function showSingleNode(cur_depth, node_id) {

    	// Strikethrough the node in the main story map. 
    	textnodeid = "depth_" + cur_depth + "_node_" + node_id + "_txt"
    	textnode = document.getElementById(textnodeid)
    	textnode.style.textDecoration =  "line-through"


		 if (cur_depth==1) {
		 	prev_color = ''
		 } else {
		 	prev_color = colors[cur_depth-1 -1]
		 }
		 if (cur_depth == 5) {
			 child_color = ''
		 } else {
			 child_color = colors[cur_depth]
		 }

		 cur_color = colors[cur_depth - 1]

		  /*fullsvgDiv = document.getElementsByClassName('fullSvg')
		  fullsvgDiv[0].style.visibility='hidden' 
		  fullsvgDiv[0].style.display='none'*/

		  modal.style.display = "none";

		  singleSvgDiv = document.getElementsByClassName('singleNode')
		  singleSvgDiv[0].style.visibility='visible' 
		  singleSvgDiv[0].style.display='block'

		  singleSvg = d3.select('.singleSvgNode')
		  singleBbox = singleSvg[0][0].getBoundingClientRect()
		  singleSvg.selectAll("*").remove();

		  if(singleBbox.width > singleBbox.height) {
		  	shorter = singleBbox.height
		  	longer = singleBbox.width
		  } else {
		  	shorter = singleBbox.width
		  	longer = singleBbox.height
		  }

		  single_center_x = singleBbox.width/2
		  single_center_y = singleBbox.height/2

		  single_target = singleSvg.append('g')

		  cur_x = single_center_x
		  cur_y = shorter/2

		  circle_radius = shorter/8 

		  if ((prev_color.length > 0) || (child_color.length > 0)) {
		  	// Draw light gray circle to hold prev and next nodes. 
		  	single_target.append('circle')
		     	.attr('id', 'yesnocircle')
		     	.attr('r', shorter/3)
		     	.attr('fill', 'transparent')
		     	.attr('stroke', 'gray')
		     	.attr('transform', "translate(" + cur_x + "," + cur_y + ")");
		  }

		  if (prev_color.length > 0) {

		  	touch_node_coords = get_coordinates_from_angle(cur_x, cur_y, 270, shorter/3)

		    single_target.append('line')
		    .attr('x1', touch_node_coords[0])
		    .attr('x2', cur_x)
		    .attr('y1', touch_node_coords[1])
		    .attr('y2', 0)
		    .attr('stroke', 'gray')

		    prev_depth = cur_depth - 1
		    prev_node_id = Math.floor(node_id/2)

		    single_target.append('circle')
		            .attr('class', 'singlePrevCircle')
		            .attr('id', 'prevcircle')
		            .attr('fill', prev_color)
		            .attr('onclick', "showSingleNode(" + prev_depth + "," + prev_node_id + ")")
		            .attr('transform', "translate(" + cur_x + "," + 0 + ")")
		            .attr('r', circle_radius);

		    single_target.append('text')
		   	.attr('class', 'prevtext')
			.attr('x', cur_x)
			.attr('y', 0)
			.text(depth_dict[cur_depth-1][Math.floor(node_id/2)][0])
			.attr("font-family", "sans-serif")
			.attr("text-anchor", "middle")
		    .attr("font-size", "20px")
		    .attr("fill", "#E8F2F4");
		  }

		  singleSvgDiv = document.getElementsByClassName('singleNode')
		  singleSvgDiv[0].style.visibility='visible' 

		  if (child_color.length > 0) {
		    yes_node_coords = get_coordinates_from_angle(cur_x, cur_y, 150, shorter/3)
		    no_node_coords = get_coordinates_from_angle(cur_x, cur_y, 30, shorter/3)


		    next_depth = cur_depth + 1
		    yes_node_id = 2*node_id
		    no_node_id = 2*node_id + 1

		    single_target.append('circle')
		            .attr('id', 'yescircle')
		            .attr('r', circle_radius)
		            .attr('fill', '#3F9838')
		            .attr('onclick', "showSingleNode(" + next_depth + "," + yes_node_id + ")")
		            .attr('transform', "translate(" + yes_node_coords[0] + "," + yes_node_coords[1] + ")");

		    single_target.append('circle')
		            .attr('id', 'nocircle')
		            .attr('r', circle_radius)
		            .attr('fill', '#DB5B43' )
		            .attr('onclick', "showSingleNode(" + next_depth + "," + no_node_id + ")")
		            .attr('transform', "translate(" + no_node_coords[0] + "," + no_node_coords[1] + ")");

		    single_target.append('text')
			   	.attr('class', 'yestext')
				.attr('x', yes_node_coords[0])
				.attr('y', yes_node_coords[1])
				.text("YES")
				.attr("font-family", "sans-serif")
				.attr("text-anchor", "middle")
			    .attr("font-size", "20px")
			    .attr("fill", "#E8F2F4");

		   single_target.append('text')
			   	.attr('class', 'notext')
				.attr('x', no_node_coords[0])
				.attr('y', no_node_coords[1])
				.text("NO")
				.attr("font-family", "sans-serif")
				.attr("text-anchor", "middle")
			    .attr("font-size", "20px")
			    .attr("fill", "#E8F2F4");

		  }

		   single_target.append('circle')
		          .attr('class', 'storycircle')
		          .attr('r', circle_radius)
		          .attr('fill', cur_color)
		          .attr('transform', "translate(" + cur_x + "," + cur_y + ")");

		    single_target.append('text')
		   	.attr('class', 'curtext')
			.attr('x', cur_x)
			.attr('y', cur_y)
			.text(depth_dict[cur_depth][node_id][0])
			.attr("font-family", "sans-serif")
			.attr("text-anchor", "middle")
		    .attr("font-size", "20px")
		    .attr("fill", "#E8F2F4");

		    chapter_audio_url = depth_dict[cur_depth][node_id][1]
		    question_audio_url = depth_dict[cur_depth][node_id][2]

		    chaptersound = new Audio(".." + chapter_audio_url)
		    //alert(".." + chapter_audio_url)
		    
		    document.getElementById("playpause").disabled = false;
		    document.getElementById("playstory").disabled = false;
		    document.getElementById('forward15').disabled = false; 
		    document.getElementById('rewind15').disabled = false; 
		    if (question_audio_url) {
		    	questionsound = new Audio(".." + question_audio_url)
		    	questionsound.onended = function() {
		    		onEndSound() 
		    	}
		    	chaptersound.onended = function() {
		    		playq()
		    	}
		    	document.getElementById("playquestion").disabled = false;
		    } else { 
		    	questionsound = null 
		    	document.getElementById("playquestion").disabled = true;
		    	chaptersound.onended = function() {
		    		playq()
		    		onEndSound() 
		    	}
		    }
		    
		    playchapter()

    }

    function playchapter() {
    	if (chaptersound) {
    		recognition.stop()
    		cursound = chaptersound
    		togglePlayButton('play')
    		cursound.play().then(function(value) {
  				console.log(value);
			}).catch(error => {
      			console.log(error)
      			console.log(error.message)
    		});;
    		lastPlayed = 'c'
    	}
    }

    function playq() {
    	if (questionsound && lastPlayed == 'c') { 
    		recognition.stop()
    		togglePlayButton('play')
    		cursound = questionsound
    		cursound.play().then(function(value) {
  				console.log(value);
			}).catch(error => {
      			console.log(error)
    		});;
    		lastPlayed = 'q'
    	}

    }

    function onEndSound() {
    	togglePlayButton('pause')
		if (document.getElementById("voice_checkbox").checked) { 
			console.log("Going back to starting recognition")
			recognition.start()
		}
	}

    function show_storymap() {

      	var modal = document.getElementById('svgmodal');
      	modal.style.display = "block";


    }
    /* Web Speech Recognition API initialization */
	 if (!('webkitSpeechRecognition' in window)) {
	    //Speech API not supported here…
	} else { //Let’s do some cool stuff :)
	    var recognition = new webkitSpeechRecognition(); //That is the object that will manage our whole recognition process. 
	    recognition.continuous = true;   //Suitable for dictation. 
	    recognition.interimResults = true;  //If we want to start receiving results even if they are not final.
	    //Define some more additional parameters for the recognition:
	    recognition.lang = "en-US"; 
	    recognition.maxAlternatives = 1; //Since from our experience, the highest result is really the best...
	}

	recognition.onstart = function() {
	    //Listening (capturing voice from audio input) started.
	    //This is a good place to give the user visual feedback about that (i.e. flash a red light, etc.)
	};

	recognition.onend = function() {
	    //Again – give the user feedback that you are not listening anymore. If you wish to achieve continuous recognition – you can write a script to start the recognizer again here.
	    console.log("End called.")
	    /*if (document.getElementById("voice_checkbox").checked && chaptersound &&
	     chaptersound.paused) {
	     	if (questionsound) {
	     		if (questionsound.paused) {
	     			console.log("Question paused. Restarting.")
	     			recognition.start()
	     		}
	     	} else {
	    	recognition.start()
	    	console.log("Chapter paused. Restarting")
	    	}

	    }*/
	    if (document.getElementById("voice_checkbox").checked && cursound && cursound.paused) {
	    	console.log("Sound paused. Restarting recognition...")
	    	recognition.start()
	    }
	    
	};

	recognition.onresult = function(event) { //the event holds the results
	//Yay – we have results! Let’s check if they are defined and if final or not:
	    if (typeof(event.results) === 'undefined') { //Something is wrong…
	        recognition.stop();
	        return;
	    }
	    alert("An Event Happened!!")

	    alert(event.results.length)

	    for (var i = event.resultIndex; i < event.results.length; ++i) {      
	        if (event.results[i].isFinal)  { //Final results
	        	alert(event.results[i][0].confidence)
	        	transcript = event.results[i][0].transcript
	        	alert(transcript)
	            console.log("final results: " + transcript);   //Of course – here is the place to do useful things with the results.
	            if (transcript.includes("yes") || transcript.includes('yeah')) {
	            	singleSvgDiv = document.getElementsByClassName('singleNode')
	            	if (singleSvgDiv[0].style.display != 'none') {
	            		yes_circle = document.getElementById('yescircle')
	            		yes_circle.onclick()
	            	}
	            } 

	            if (transcript.includes("no") || transcript.includes("nope")) {
	            	singleSvgDiv = document.getElementsByClassName('singleNode')
	            	if (singleSvgDiv[0].style.display != 'none') {
	            		no_circle = document.getElementById('nocircle')
	            		no_circle.onclick()
	            	}
	            }

	            if (transcript.includes("start") || transcript.includes("begin")) {
	            	fullsvgDiv = document.getElementsByClassName('fullSvg')
	            	if (fullsvgDiv[0].style.display != 'none') {
	            		start_circle = document.getElementById('startcircle')
	            		start_circle.onclick()
	            	}
	            }

	   			if (transcript.includes("home")) {
	            	show_storymap()
	            }

	            if (transcript.includes("back")) {
	            	singleSvgDiv = document.getElementsByClassName('singleNode')
	            	if (singleSvgDiv[0].style.display != 'none') {
	            		prev_circle = document.getElementById('prevcircle')
	            		if (prev_circle) {
	            			prev_circle.onclick()
	            		} else {
	            			show_storymap()
	            		}
	            	}
	            }

	        } /*else {   //i.e. interim...
	            console.log("interim results: " + event.results[i][0].transcript);  //You can use these results to give the user near real time experience.
	        } */
	    } //end for loop
	}; 

	/* close span for svg modal */ 
	var modal = document.getElementById('svgmodal');

	var span = document.getElementsByClassName("close")[0];
	span.onclick = function() {
  		modal.style.display = "none";
	}
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
  		if (event.target == modal) {
    		modal.style.display = "none";
  		}
	}


    var bbox, radii, svg, target, chaptersound, questionsound, cursound;
    var lastPlayed = 0

    depth_dict = {{ depth_dict | safe }}

    svg = d3.select('.fullSvgNode');
    bbox = svg[0][0].getBoundingClientRect();

    //radii = [25, 80, 160, 240, 310] // This was default. It has been changed to fit various screen sizes. 

    colors = ['#01131D', '#033957', '#416A80', '#3ba395', '#4891b8']


    if(bbox.width > bbox.height) {
    	shorter = bbox.height
    	longer = bbox.width
    } else { 
    	shorter = bbox.width
    	longer = bbox.height 
    }

    node_radius = shorter/20

    if (node_radius > 30) {
    	node_radius = 30
    }

    //incr = (shorter - 5*node_radius)/7
    incr = (shorter - 5*node_radius)/8

    if(incr > 80) { 
    	incr = 80 
    } 

    if (incr < 2*node_radius) { 
    	incr = 2*node_radius
    }

    radii = [node_radius, node_radius + incr, node_radius + 2*incr, node_radius + 3*incr, node_radius + 4*incr]

    if (node_radius > 20) { 
    	textsize = 12
    } else if (node_radius > 10) { 
    	textsize = 6
    } else {
    	textsize = 5
    }

    initial_center_x = bbox.width/2
    initial_center_y = shorter/2 + node_radius //bbox.height/2


    target = svg.append('g')
        .attr('transform', "translate(" + initial_center_x + "," + initial_center_y + ")");

    //var freesound = new Audio('https://freesound.org/data/previews/223/223083_3966588-lq.mp3')
    


    target2 = svg.append('g').attr('fill', colors[1]);
    angles2 = [90, 270]
    nodes2 = draw_arcs_lines(target2, angles2, 2)
    chapters2 = depth_dict[2]

    target3 = svg.append('g').attr('fill', colors[2])
    angles3 = [50, 130, 230, 310]
    nodes3 = draw_arcs_lines(target3, angles3, 3)
    chapters3 = depth_dict[3]

    target4 = svg.append('g').attr('fill', colors[3])
    angles4 = [30, 70, 110, 150, 210, 250, 290, 330]
    nodes4 = draw_arcs_lines(target4, angles4, 4)
    chapters4 = depth_dict[4]

    target5 = svg.append('g').attr('fill', colors[4])
    angles5 = [18, 42, 58, 82, 98, 122, 138, 162, 198, 222, 238, 262, 278, 302, 318, 342]
    nodes5 = draw_arcs_lines(target5, angles5, 5)
    chapters5 = depth_dict[5]


    draw_nodes(target2, nodes2, 1)
    draw_nodes(target3, nodes3, 2)
    draw_nodes(target4, nodes4, 3)
    draw_nodes(target5, nodes5, 4)

    draw_text(target2, nodes2, chapters2, 1)
    draw_text(target3, nodes3, chapters3, 2)
    draw_text(target4, nodes4, chapters4, 3)
    draw_text(target5, nodes5, chapters5, 4)

    target1 = svg.append('g').attr('fill', colors[0])
    target1.append('circle')
        .attr('class', 'storycircle')
        .attr('id', 'startcircle')
        .attr('r', node_radius)
        .attr('onclick', 'showSingleNode(1, 0)')
        .attr('transform', "translate(" + initial_center_x + "," + initial_center_y + ")");
    chapters1 = depth_dict[1][0]
    target1.append('text')
    	.attr('id', 'depth_1_node_0_txt')
    	.attr('x', initial_center_x)
    	.attr('y', initial_center_y)
    	.text("Chapter " + chapters1[0])
    	.attr("font-family", "sans-serif")
    	.attr("text-anchor", "middle")
        .attr("font-size", textsize+"px")
        .attr("fill", "#E8F2F4");

    recognition.start();

</script>

{% endblock %}